---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <h2>About Page</h2>
  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iure doloribus qui voluptatem natus commodi nemo amet voluptate beatae iste quis.</p>
	<a href="/">Home</a>
  <a href="/blog">Blog</a>
</Layout>