---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <h2>Blog Page</h2>
  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Possimus magnam perspiciatis et impedit officia sapiente nobis autem numquam praesentium nisi?</p>
	<a href="/">Home</a>
  <a href="/about">About</a>
</Layout>